.mainHeader{
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 40px;
 align-items: center;
 background-color: #232144;
 margin-top: -25px;
 padding-top: 120px;
 padding-left: 120px;
 padding-right: 120px;
 .headerText{
     color: whitesmoke;
     width: 50%;
     display: flex;
     flex-direction: column;
     gap: 30px;
     .headerOne{
         font-size: 30px;
         font-weight: 400;
         .greenText{
             color: #239897;
         }
     }
     .parOne{
         font-weight: 300;
         font-size: 25px;
     }
     .BtnContainer{
         display: flex;
         flex-direction: column;
         gap: 20px;
         .Btn{
             width: 50%;
             outline: none;
             margin-top: 2%;
             padding: 14px 62px;
             font-size: 21px;
             font-weight: normal;
             cursor: pointer;
             color: #ddd;
             border: none;
             letter-spacing: 1px;
             border-radius: 30px;
             background: linear-gradient(45deg,#00BBF6,#00C5E3,#00CBD7,#00D4C8,#00DBBB);
             transition: letter-spacing 1s;
             &:hover{
                 letter-spacing: 6px;
             }
         }
         
     }


 }

 .headerImg{
     width: auto;
 }

}

@media screen and (max-width:1200px){
 .mainHeader{
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 0;
     padding-top: 60px;
     margin: 0;
     gap: 20px;
     .headerText{
         width: 95%;
         .headerOne{
             font-size: 40px;
             font-weight:700;
         }
         .BtnContainer{
             #studentsBtn{
                 font-size: 15px;
                 padding-top: 20px;
                 padding-bottom: 20px;
                 width: 70%;
                 outline: none;

             }
             #adminsBtn{
                 font-size: 16px;
                 padding-top: 20px;
                 padding-bottom: 20px;
                 width: 70%;
                 outline: none;

             }
         }
         
     }
     .headerImg{
         width: 90%;
     }
     
 }
}

.SectionTwo{
 padding-top: 100px;
 padding-bottom: 100px;
 display: flex;
 justify-content: center;
 margin: auto;
 width: 60%;
 .textContainer{
     border: solid black 2px;    
     border-radius: 30px;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 30px;
     height: 450px;
     width: 1000px;
     .sectionTwoText{
         font-size: 40px;
         font-weight: normal;
     }
     .adminsPickBtns{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         padding-top: 180px;
         gap: 30px;
         
         .Btn{
             width: 50%;
             margin-top: 2%;
             padding: 14px 62px;
             font-size: 18px;
             font-weight: normal;
             cursor: pointer;
             outline: none;
             color: #ddd;
             border: none;
             letter-spacing: 1px;
             border-radius: 30px;
             transition: color 2s;
             background: linear-gradient(45deg,#00BBF6,#00C5E3,#00CBD7,#00D4C8,#00DBBB);
             &:hover{
                 background: rgba(245, 245, 245, 0);
                 border:solid #232144  2px;
                 color: #232144;
             }
         }
     }
     
     .studentsPickBtns{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         padding-top: 180px;
         .Btn{
            //  width: 50%;
             padding: 14px 62px;
             font-size: 18px;
             font-weight: normal;
             cursor: pointer;
             outline: none;
             color: #ddd;
             border: none;
             letter-spacing: 1px;
             border-radius: 30px;
             transition: color 2s;
             background: linear-gradient(45deg,#00BBF6,#00C5E3,#00CBD7,#00D4C8,#00DBBB);
             &:hover{
                 background: rgba(245, 245, 245, 0);
                 border:solid #232144 2px;
                 color:#232144;
             }
         }
     }

     .managePickBtns{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         padding-top: 180px;
         gap: 30px;
         .Btn{
             width: 50%;
             margin-top: 2%;
             padding: 14px 62px;
             font-size: 18px;
             font-weight: normal;
             cursor: pointer;
             color: #ddd;
             outline: none;
             border: none;
             letter-spacing: 1px;
             border-radius: 30px;
             transition: color 2s;
             background: linear-gradient(45deg,#00BBF6,#00C5E3,#00CBD7,#00D4C8,#00DBBB);
             &:hover{
                 background: rgba(245, 245, 245, 0);
                 border:solid #232144 2px;
                 color:#232144;
             }
         }
     }
 }
}

@media screen and (max-width:1200px){
 .SectionTwo{
     width: 95%;
     .textContainer{
         width: 95%;
         height: auto;
     }
     #adminsPick{
         width: 95%;
         height: auto;
         .adminsPickBtns{
             display: flex;
             flex-direction: column;
             padding: auto;
             margin: auto;
             align-items: center;
             text-align: center;
             .Btn{
                 width: 90%;
             }
         }
     }
     #studentsPick{
         width: 95%;
         height: auto;
         .studentsPickBtns{
             display: flex;
             flex-direction: column;
             padding: auto;
             margin: auto;
             align-items: center;
             text-align: center;
             #listBtn{
                 width: 90%;
             }
         }
     }
     #managePick{
         width: 95%;
         height: auto;
         .managePickBtns{
             display: flex;
             flex-direction: column;
             padding: auto;
             margin: auto;
             align-items: center;
             text-align: center;
             .Btn{
                 width: 90%;
             }
         }
     }
     


 }
}