body{
 overflow-x: hidden;
}
.navigation{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #232144;
 padding: 5px;
 font-family: poppins;
 color: whitesmoke;
 padding-left: 100px;
 padding-right: 100px;
 .logo{
  font-size: 35px;
  font-weight: 400;
  font-family: poppins;
 }
 .menuContent{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 70px;
  a{
   text-decoration: none;
   color: whitesmoke;
   font-weight:400;
   &:hover{
    color: #239897;
   }
  }
 }
 @media screen and (max-width:900px){
  .menuContent{
   display: none;
  }
  .burgerMenu{
   display: block;
  }

 }
 .xIcon{
  padding: 0;
  margin: 0;
  display: none;
  cursor: pointer;
  font-size: 40px;
  color: #239897;
 }
 .burgerMenu{
  line-height: 10px;
  display: none;
  cursor: pointer;
  .min{
   padding: 0;
   margin: 0;
   font-size: 100px;
   font-weight: 200;
   color: #239897;
   overflow: hidden;
  }
 }
}
.photonav{
 margin-bottom: 13px;
}

@media screen and (max-width:900px){
 .navigation{
  padding-left: 20px;
  padding-right: 20px;
 }
}

.navigationPopup{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 text-align: center;
 align-items: center;
 margin: auto;
 gap: 30px ;
 padding: 20px;
 background-color: #232144;
 h4{
  a{
   text-decoration: none;
   color: whitesmoke;
   font-weight:400;
  }
 }
 hr{
  color: #239897;
  width: 60%;
  margin: auto;
  border: #239897 solid 1px;
 }
}