@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
}

body body {
  overflow-x: hidden;
}

body .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232144;
  padding: 5px;
  font-family: poppins;
  color: whitesmoke;
  padding-left: 100px;
  padding-right: 100px;
}

body .navigation .logo {
  font-size: 35px;
  font-weight: 400;
  font-family: poppins;
}

body .navigation .menuContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  gap: 70px;
}

body .navigation .menuContent a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
}

body .navigation .menuContent a:hover {
  color: #239897;
}

@media screen and (max-width: 900px) {
  body .navigation .menuContent {
    display: none;
  }
  body .navigation .burgerMenu {
    display: block;
  }
}

body .navigation .xIcon {
  padding: 0;
  margin: 0;
  display: none;
  cursor: pointer;
  font-size: 40px;
  color: #239897;
}

body .navigation .burgerMenu {
  line-height: 10px;
  display: none;
  cursor: pointer;
}

body .navigation .burgerMenu .min {
  padding: 0;
  margin: 0;
  font-size: 100px;
  font-weight: 200;
  color: #239897;
  overflow: hidden;
}

body .photonav {
  margin-bottom: 13px;
}

@media screen and (max-width: 900px) {
  body .navigation {
    padding-left: 20px;
    padding-right: 20px;
  }
}

body .navigationPopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  gap: 30px;
  padding: 20px;
  background-color: #232144;
}

body .navigationPopup h4 a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
}

body .navigationPopup hr {
  color: #239897;
  width: 60%;
  margin: auto;
  border: #239897 solid 1px;
}

body .sectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

body .sectionOne .aboutHeader {
  font-size: 30px;
  color: #232144;
  padding-bottom: 60px;
  font-family: poppins;
}

body .sectionOne .programsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 85%;
}

body .sectionOne .programsContainer .prog {
  width: 30%;
  background-color: #00BBBB;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 50px;
  border-radius: 35px;
}

body .sectionOne .programsContainer .prog .check {
  margin-left: 10px;
  width: 25px;
}

body .sectionOne .programsContainer .prog .progHeader {
  margin-left: 20px;
  margin-top: 40px;
  font-weight: normal;
  font-size: 30px;
}

body .sectionOne .programsContainer .prog .progPar {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 900px) {
  body .sectionOne .programsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 900px;
  }
}

body .sectionOne .line {
  width: 55%;
  border: solid gray 1px;
  margin-top: 70px;
  margin-bottom: 200px;
}

body .sectionTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 150px;
}

body .sectionTwo .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 80%;
}

body .sectionTwo .contentContainer .textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  gap: 40px;
  padding-top: 50px;
}

body .sectionTwo .contentContainer .textContent .contentHeader {
  font-size: 42px;
  color: #00BBBB;
  font-weight: normal;
}

body .sectionTwo .contentContainer .textContent .contentPar {
  font-size: 30px;
  color: #232144;
}

body .sectionTwo .contentContainer .contentImg {
  width: 50%;
}

@media screen and (max-width: 900px) {
  body .sectionTwo .contentContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body .sectionTwo .contentContainer .textContent {
    width: 90%;
  }
  body .sectionTwo .contentContainer .contentImg {
    width: 90%;
  }
}

body .ftrContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 200px;
  background-color: #232144;
  padding-top: 100px;
  padding-bottom: 40px;
  margin-top: -7px;
  color: whitesmoke;
}

body .ftrContainer .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .ftrContainer .page .elemContainer {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

body .ftrContainer .page .elemContainer .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body .ftrContainer .page .elemContainer .textLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
}

body .ftrContainer .connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .ftrContainer .connect .elemContainer {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

body .ftrContainer .connect .elemContainer .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body .ftrContainer .connect .elemContainer .textLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
}

body .ftrContainer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .ftrContainer .contact .elemContainer {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

body .ftrContainer .contact .elemContainer .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body .ftrContainer .contact .elemContainer .textLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 53px;
}

@media screen and (max-width: 900px) {
  body .ftrContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 80px;
  }
  body .ftrContainer .page {
    display: none;
  }
}
/*# sourceMappingURL=aboutUs.css.map */