@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
 padding: 0;
 margin: 0;
 overflow-x: hidden;
 box-sizing: border-box;
 font-family: 'Poppins';
 
}
$greenColor:#239897;
$blueColor:#232144;
$whiteColor:whitesmoke;
@import "./footer";
@import "./header";

body{
    
    .titletable{
        font-size: 35px ;
        color: $blueColor;
        text-align: center;
        padding: 3%;
       
    }
    .Boxillus {
        width: 35%;
        margin: auto;
        img{
            width: 100%;
        }
    }

    .photonav {
        width: 100%;
        margin-bottom: 8px;
    }
    .TableLis, th, td {
        border: 1px solid $blueColor;
      }
      .TableLis{
        border-collapse: collapse; 
        width: 70%;
        margin: auto;
        margin-bottom: 3%;
        th{
            padding: 8px;
            text-align: center;
        }
        td{
            padding: 8px;
            text-align: center;
        }

      }
     
      @media screen and (max-width:1100px){
        .TableLis  {
            .supp{
                display: none;
            }
            th{
                padding: 1px;
                text-align: center;
            }
          }
        }
    }



      



