@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

html{
    scroll-behavior: smooth;
}

*{
 padding: 0;
 margin: 0;
 overflow-x: hidden;
}

@mixin buttonStyle {font-size: 21px;
    font-weight: normal;
    cursor: pointer;
    color: #ddd;
    border: none;
    letter-spacing: 1px;
    background: linear-gradient(45deg,#00BBF6,#00C5E3,#00CBD7,#00D4C8,#00DBBB);
    
}

@mixin flexStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin columStyle {
    display: flex;
    flex-direction: column;
    
}

@mixin rowStyle {
    display: flex;
    flex-direction: row;
}
//  color 
$greenColor:#239897;
$blueColor:#232144;
$whiteColor:whitesmoke;

@import "./footer";
@import "./header";

body{
    font-family: poppins;
    

    .galleryHeader{
    @include rowStyle();
     padding-left: 220px;
     justify-content: center;
     align-items: center;
     padding-right: 220px;
     background-color: $blueColor;
     padding-top: 100px;
     .galleryHeaderText{
      @include columStyle();
      gap: 40px;
      width: 50%;
      .galleryHeaderH1{
       font-size: 40px;
       color: white;
       .greenText{
        color: $greenColor;
       }
      }
      .galleryHeaderPar{
       color: white;
       font-size: 20px;
      }
      .galleryHeaderBtn{
       width: 50%;
       outline: none;
       margin-top: 2%;
       padding: 14px 62px;
       font-size: 21px;
       font-weight: normal;
       cursor: pointer;
       color: #ddd;
       border: none;
       letter-spacing: 1px;
       border-radius: 30px;
       background: linear-gradient(45deg,#00BBF6,#00C5E3,#00CBD7,#00D4C8,#00DBBB);
       transition: letter-spacing 1s;
       &:hover{
        letter-spacing: 6px;
       }
      }

     }
     .galleryHeaderImg{
      width: 50%;
     }
    }
    @media screen and (max-width:900px){
     .galleryHeader{
      @include columStyle();
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 100pxpx;
      gap: 100px;
    
      .galleryHeaderText{
       width: 95%;
       gap: 20px;
       .galleryHeaderH1{
        font-size: 45px;
       }
       .galleryHeaderPar{
        font-size: 20px;
       }
       .galleryHeaderBtn{
        width: 60%;
        font-size: 20px;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
       }
      }
      .galleryHeaderImg{
       width: 95%;
      }
     }
    }

    .gallerySectionOne{
        @include columStyle();
        text-align: center;
        width: 85%;
        margin: auto;
        padding-top: 100px;
        gap: 80px;
        .sectionOneH1{
            font-size: 35px;
        }
        .events{
            @include rowStyle();
            align-items: center;
            margin-top: 120px;
            margin-bottom: 120px;
            
            .event{
                width: 650px;
                position: relative;
            }
            .eventDiscription{
                width: 350px;
                text-align: left;
                background-color: $blueColor ;
                color: white;
                height: fit-content;
                padding: 20px;
                position: absolute;
                margin-left: 550px;
                
                .descriptionHeader{
                    font-size: 30px;
                }
                .descriptionPar{
                    font-size: 20px;
                }
            }
        }
        .reversed{
            flex-direction: row-reverse;

            .eventDiscriptionReversed{
                width: 350px;
                text-align: left;
                background-color: $blueColor ;
                color: white;
                height: fit-content;
                padding: 20px;
                position: absolute;
                margin-right: 550px;
                .descriptionHeader{
                    font-size: 30px;
                }
                .descriptionPar{
                    font-size: 20px;
                }
            }
        }

        @media screen and (max-width:900px){
            .events{
               @include columStyle();
                justify-content: center;
                .event{
                    width: 550px;
                }
                .eventDiscription{
                    margin: auto;
                    margin-top: 500px;
                }
            }

            .reversed{
                @include columStyle();
                justify-content: center;
                .eventDiscriptionReversed{
                    margin: auto;
                    margin-top: 500px;
                }
            }


        }
    }

    @media screen and (max-width:900px){
        .gallerySectionOne{
            width: 95%;
        }
    }

    
}